@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

.full-width {
  width: 100%;
}

mat-card {
  margin-bottom: 10px;
}

mat-toolbar {
  margin-bottom: 10px !important;
}

a[routerLink] {
  margin-right: 10px;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
